extends ./layout.jade

block style
  style
    include css/combi.css
      
block content
  section.hero
    .hero-content
      .container
        h1.title 
          span あと
          span.count #{words.length}
          span こ
        h2.subtitle you can do it.
  
  section.section.hero
    .hero-content
      .container
        h1.title #{main_theme}
    section.section
      button.button.is-centered 全部いれた！
    .container
      ul
        each word in words
          li
            h4.subtitle.is-4.is-left
              span #{word.dataValues.word}
            p.control.is-grouped
              a.button.is-info
                span ×
                span  #{main_theme}
                span  ＝
              input.input.is-half(type="text" placeholder="アイデアをいれろ")
          br
    section.section
      button.button.is-centered 全部いれた！
  
