extends ./layout.jade

block style
  style
    include css/combi.css
      
block content
  section.hero
    .hero-content
      .container
        h1.title 
          span あと
          span.count #{words.length}
          span こ
        h2.subtitle you can do it.

  section.section
    ul
      each word in words
        li
          p.control.is-grouped
            a.button.is-info
              //- span 主テーマ
              span ×
              span  #{word.dataValues.word}
              span  ＝
            input.input.is-half(type="text" placeholder="アイデアをいれろ")
        br
    button.button.is-centered.is-inline 全部いれた！
