extends ./layout.jade

block content
  section.hero
    .hero-content
      .container
        h1.title Speculatool
        p.control
        span.select
          select
            option Select dropdown
            option With options
        p.control
        a.button.is-primary 甘め
        a.button.is-danger 厳しめ


        
