extends ./layout.jade

block style
  style
    include css/index.css
    
block content
  section.hero
    .hero-content
      .container
        h1.title 
          ruby
            rb Condara
            rp (
            rt コンダラ
            rp )
        h2.subtitle you can do it.
        form(action="/combi" method="POST")
          p
            input.input(type='text', placeholder='Text input' name='main_theme')
          p
            input(type='radio', name='strength', value='weak')
            | 弱め
            label.radio
            input(type='radio', name='strength', value='normal')
            | 普通
            label.radio
            input(type='radio', name='strength', value='strong')
            | 強め
          p
             button.button.is-primary 考える
        
          
        
