extends ./layout.jade

block style
  style
    include css/inspi.css

block content
  section.hero
    .hero-content
      .container
        h1.title ひらめきましょう
        form(action="/result" method="POST")
          .themes
            .main_theme
              span.tag.is-large.is-info #{main_theme}
              input(type="hidden" name="main_theme" value=main_theme)
            .cross ×
            span.select
              select.select.condara-select(name="sub_theme")
                each word in words
                  option #{word}
          p.control
            textarea.textarea.condara-textarea(name="inspiration" placeholder="ひらめいたアイディアをいれてください")
          .submit
            p.control
              button.button.is-success ひらめいた!
  
  .condara-inspi #{word_to_inspi}
  script
    include js/inspi.js
