doctype html
html
  head
    meta(charset="UTF-8")
    title= Condara
    style
      include css/layout.css
    block style
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css")
    script(src="http://code.jquery.com/jquery-2.2.0.min.js")
  body
    if nav_title
      nav.notification.is-warning.condara-nav
        p.is-centered #{nav_title}
    block content
