extends ./layout.jade

block style
  style
    include css/rest.css
    
block content
  //- script
  //-   function toHms(t) {
  //-     var hms = "";
  //-     var h = t / 3600 | 0;
  //-     var m = t % 3600 / 60 | 0;
  //-     var s = t % 60;
  //- 
  //-     if (h != 0) {
  //-       hms = h + "時間" + padZero(m) + "分" + padZero(s) + "秒";
  //-     } else if (m != 0) {
  //-       hms = m + "分" + padZero(s) + "秒";
  //-     } else {
  //-       hms = s + "秒";
  //-     }
  //- 
  //-     return hms;
  //- 
  //-     function padZero(v) {
  //-       if (v < 10) {
  //-         return "0" + v;
  //-       } else {
  //-         return v;
  //-       }
  //-     }
  //-   }

  section.hero
    .hero-content
      .container
        h1.title Rest 
        h1.title.condara-time-str #{rest_time_str}
        .condara-time #{rest_time}
        h2.subtitle you can do it.
        button.button.is-success.is-disabled.condara-button 休憩おわり
    script
      include js/rest.js
