extends ./layout.jade

block style
  style
    include css/rest.css
    
block content
  section.hero
    .hero-content
      .container
        h1.title 休憩タイム
        h2.subtitle ひらめきなさい
        h1.title.condara-time-str #{rest_time_str}
        .condara-time #{rest_time}
        form(action="/inspi" method="POST")
          input(type="hidden" name="main_theme" value=main_theme)
          input(type="hidden" name="idea_list" value=idea_list)
          button.button.is-success.is-disabled.is-medium.condara-button ひらめいた!
    section.section
      span.tag.is-medium 休憩メニュー
      table.table
        thead
          tr
            th check
            th action
        tbody
          tr
            td 
              input(type='checkbox')
            td トイレに行く
          tr
            td 
              input(type='checkbox')
            td コンビニへ行く
          tr
            td 
              input(type='checkbox')
            td りんごの木を眺める
          tr
            td 
              input(type='checkbox')
            td タバコを吸う
          
      
    script
      include js/rest.js
